// ==================================================
// breakpoints for `responsive-javascript.js`
// ==================================================

$small: 40em;
$medium: 64em;
$large: 90em;

$small-up: "only screen";

$medium-up: "#{$screen} and (min-width:#{$medium})";

$large-up: "#{$screen} and (min-width:#{$large})";


@media #{$small-up} {
	.responsive-javascript {
		border-style: dashed;
	}
}

@media #{$medium-up} {
	.responsive-javascript {
		border-style: dotted;
	}
}

@media #{$large-up} {
	.responsive-javascript {
		border-style: double;
	}
}